@keyframes fadeSlide {

    0%,
    100% {
        opacity: 0;
    }

    8%,
    33% {
        opacity: 1;
    }
}

.bg1 {
    animation: fadeSlide 12s infinite;
    animation-delay: 0s;
}

.bg2 {
    animation: fadeSlide 12s infinite;
    animation-delay: 4s;
}

.bg3 {
    animation: fadeSlide 12s infinite;
    animation-delay: 8s;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
      from {
        transform: translateY(30px);
        opacity: 0;
      }
      to {
        transform: translateY(0);
        opacity: 1;
      }
    }

    .fade-in-up {
      animation: fadeInUp 0.8s ease-out both;
    }


   
    
